* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --font-size: clamp(14px, 3vw, 18px);
  --font-color: #000;
  --bg-color: #fff;
  --bg-color2: whitesmoke;
  --q-color: papayawhip;
  --a-c-color: green;
  --a-w-color: red;
}
body {
  background-color: var(--bg-color2);
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: bold;
  text-align: left;
  margin-top: 20vh;
  text-decoration: none;
  color: var(--font-color);
  justify-content: center;
}
.intro {
  border: var(--font-color) 2px solid;
  margin: 2rem auto;
  max-width: 600px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}
.link {
  cursor: pointer;
  justify-content: space-between;
  gap: 2rem;
  max-width: 90vw;
  margin: auto;
}
li::marker {
  content: '•°  ';
  color: var(--font-color);
}
.link1,
.link2 {
  display: inline-block;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 10px 20px;
  margin: 5vw;
  font-size: var(--font-size);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.link1:hover,
.link2:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  transform: scale(1.1);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: bold;
  text-align: left;
  margin-top: 20vh;
  max-width: 55vh;
  padding: 2vh;
  border-radius: 2vh;
  text-decoration: none;
  color: var(--font-color);
  justify-content: center;
  border: var(--font-color) 2px solid;
}
.question {
  max-width: 50vh;
  margin-bottom: 1vh;
  font-size: clamp(14px, 3vh, 20px);
  border: var(--font-color) 2px solid;
  padding: 1vh;
  border-radius: 1vh;
  background-color: var(--q-color);
}
.answer {
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  margin: 0.3rem;
  padding: 1.6vh;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  min-width: 20vh;
  text-align: center;
}
.answer:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  transform: scale(1.1);
}
.correct {
  background-color: var(--a-c-color);
  cursor: not-allowed;
}
.correct:hover {
  background-color: var(--a-c-color);
}
.incorrect {
  background-color: var(--a-w-color);
  cursor: not-allowed;
}
.incorrect:hover {
  background-color: var(--a-w-color);
}
.disabled {
  background-color: var(--bg-color);
  cursor: not-allowed;
}
.disabled:hover {
  background-color: var(--bg-color);
}
.fra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  margin: auto;
  margin-top: 2vh;
  color: var(--font-color);
}

.scoreContainer {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.score {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  margin: 0.3rem;
  padding: 1.6vh;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  min-width: 30vh;
  text-align: center;
}
.correct2 {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  margin: 0.3rem;
  padding: 1.6vh;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  min-width: 30vh;
  text-align: center;
}
.incorrect1 {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  margin: 0.3rem;
  padding: 1.6vh;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  min-width: 30vh;
  text-align: center;
}
.allTimeScore {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  margin: 0.3rem;
  padding: 1.6vh;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  min-width: 30vh;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-size: clamp(14px, 3vw, 18px);
    --font-color: #fff;
    --bg-color: #444;
    --bg-color2: #333;
    --q-color: rgba(128, 0, 128, 0.319);
    --a-c-color: green;
    --a-w-color: red;
  }
}