.home{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 35vh;
    text-decoration: none;
    color: #000;
}
.link{
    cursor: pointer;
}
li::marker{
    content: none;
}
.fra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answer{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    max-width: 50%;
}